.button {
    background: #f7859c;
    border-radius: 12px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: #ffffff;
    width: 135px;
    height: 45px;
    border: none;
}
