.collectionSection{
    padding-bottom: 227px;
    .title {
        text-align: center;
        margin-bottom: 76px;
    }
    .card_collection {
        width: 374px;
        height: 200px;
        padding: 28px 0 32px;
        border-bottom: 1px solid #40475699;
    }
}

